/* ---------------------------------- */
/* The hackey way to customize        */
/* ---------------------------------- */

.block {
  display: inline-block;
  width: 410px;
  height: 1.5em;
  margin: 5px !important;
  padding: 5px !important;
  border: 2px solid red !important;
  border-radius: 3px !important;
  background: #5A5859 !important;
  font-family: monospace !important;
}

.presentation-code {
  box-shadow: none !important;
  tab-size: 2 !important;
}

.hack-col-left {
  position: absolute !important;
  left: -20% !important;
  width: 700px !important;
}

.hack-col-right {
  position: absolute !important;
  left: 55% !important;
  width: 630px !important;
}

/* ---------------------------------- */
/* The right way to customize         */
/* ---------------------------------- */
.dependency-injection p {
  text-align: left;
}
.dependency-injection table {
  margin: none; /* override reveal's margin: auto */
  margin-left: 3%;
}
.dependency-injection table td,
.dom-manipulation table td,
.angular-compare-summary table td {
  border-bottom: none;
}
.dependency-injection table td code {
  color: #e41137;
}

.di-aurelia table {
  margin-left: -20%;
}

.di-aurelia pre {
  width: 100%;
}

.di-aurelia p {
  font-style: italic;
}

.just-es .fragment p {
  margin-left: 5%;
  text-align: left;
}

.dom-manipulation .emphasis {
  font-style: italic;
  color: #cd230f;
}

.dom-manipulation pre {
  margin-left: 0;
  width: 100%;
}

.dom-manipulation p {
  margin-left: 2%;
  text-align: left;
}

.ang-dir p {
  text-align: left;
  font-style: italic;
}

.angular-compare-summary tr th {
  text-transform: uppercase;
  color: #cd230f;
  font-style: italic;
}
